.frstBar {
    padding: 100px 50px;
    width: 50%;
    border: 1px solid black; 
    max-width: 600px;
   /*width: 500px;*/
}

.frstBar2 {
    width:600px;
    background-image: url("https://i.pinimg.com/564x/13/b4/94/13b494c149b7a66c01718b58e1ade9c1.jpg");
    background-size: cover;
    background-position: center;
    width: 70%;
} 


.container1 {
    display: flex;
}

.title {
    padding-bottom:250px;
    padding-top: 200px;
    margin: 0;
    color: white;
    font-size: 80px;
    background-image: url("https://i.pinimg.com/originals/93/0f/46/930f4690ed8288c6f55244a6a5fe4875.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

body {
    font-size: 18px;
    font-family: "Fraunces", serif;
}

.topnav {
    background-image: url("https://i.pinimg.com/originals/93/0f/46/930f4690ed8288c6f55244a6a5fe4875.jpg");
    overflow: hidden;
    padding: 10px;
}

.topnav a {
    float: right;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }



.container2 {
    display: flex;
}

.scndBar {
    padding: 100px 50px;
    width: 50%;
    border: 1px solid black; 
    max-width: 600px;
}

.scndBar2 {
    width: 100%;
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_fill,w_1440,ar_16:9,f_auto,q_auto,g_auto/shape%2Fcover%2Fsport%2Fbooksbookshed-c35d6c7bc2f118403bc5f35d151cc087.jpg");
    background-size: cover;
    background-position: center;
}

.container3 {
    display: flex;
}
  
.graphic {
    background-image: url("https://i.pinimg.com/originals/b9/95/c2/b995c2b03be5ace6189b50033ad0ef49.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
    text-align: center;
}

.photography {
    background-image: url("https://i.pinimg.com/originals/ef/12/f7/ef12f74c54e884c490f2277a884199ea.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
    text-align: center;
}

.clientTestim {
    padding-top: 100px;
    border: 1px solid black;
}

#clienthead {
    text-align: center;
}

.clientContainer {
    display: flex;
}



.client1 {
    text-align: center;
    padding: 50px;
}

.c1photo img {
    border-radius: 50%;
    width: 100px;
}

.c1photo {
    margin: 0 auto;
    text-align: center;
}

.client2 {
    text-align: center;
    padding: 50px;
}

.c2photo img {
    border-radius: 50%;
    width: 100px;
}

.c2photo {
    margin: 0 auto;
    text-align: center;
}

.client3 {
    text-align: center;
    padding: 50px;
}

.c3photo img {
    border-radius: 50%;
    width: 100px;
}

.c3photo {
    margin: 0 auto;
    text-align: center;
}

.bottomimg div{
    width: 25%;
    height: 500px;
    background-size: cover;
    background-position: center;
}
.bottomimg {
    display: flex;
}

.img1 {
    background-image: url("https://i.pinimg.com/originals/4a/4e/d6/4a4ed6dd7448863c047125728e5eacdf.jpg");
}

.img2 {
    background-image: url("https://i.pinimg.com/originals/52/de/26/52de267228f31786fafb10a71f6726d6.jpg");
}

.img3 {
    background-image: url("https://i.pinimg.com/564x/7b/f4/4b/7bf44bd0060e7bc030bf4acf60586f2b.jpg");
}

.img4 {
    background-image: url("https://i.pinimg.com/564x/06/21/02/06210233f5bfe4e672e0bfc074a5852e.jpg");
}

.bottomnav {
    background-color: hsl(79, 12%, 50%);
    color: hsl(98, 39%, 16%);
}

.bottomnav {
    padding: 100px 25px;
}

.bottomnav h3 {
    text-align: center;
    padding: 50px;
}

.links {
    text-align: center;
}

.links a  {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: hsl(98, 39%, 16%);
}

button {
    background-color: black;
    color: white;
}